body {
  margin: 0;
  height: 100vh;
  background-color: black;
  font-family: Verdana, sans-serif;
}

.logo {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo img {
  width: 150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.photo {
  display: inline-block;
  padding: 0;
  margin-bottom: -3px;
}

img {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#select {
}

#photo-panel {
  width: 75%;
  height: 100vh;
  float: left;
  overflow-y: scroll;
}

#voyage-view {
  border-left: 3px inset blue;
  text-align: center;
  height: 100vh;
  width: 24%;
  float: right;
  overflow-y: scroll;
}

.voyage-image {
  display: inline-block;
  position: relative;
}

.voyage-image span {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  color: red;
  cursor: pointer;
  height: 20px;
}

.voyage-entry-details {
  color: white;
}

.voyage-entry-details .address {
  font-size: 10px;
}

.voyage-name {
  color: white;
  text-align: center;
}

button#save-voyage {
  position: fixed;
  display: block;
  bottom: 5px;
  right: 10px;
  z-index: 2;
  height: 30px;
  background: lightBlue;
}

.homepage {
  margin-top: 10%;
}

.homeImg {
  position: relative;
  width: 33.33%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
}

.citysearch {
  text-align: center;
}

input#autocomplete {
  width: 50%;
  height: 20px;
  padding: 2px;
  border-color: black;
  border-width: 5px;
}

